.title {
    margin-top: 28px;
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
}


.title h2 {
    margin-top: 28px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;

    transform: rotate(0.58deg);
}

.title-img {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 28px;
    width: 52px;
    height: 60px;
  }